<a href="https://colab.research.google.com/github/bbradfield216/btech-python/blob/main/Advanced_Module_2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import requests

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
'''
Web scraping
'''

In [ ]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [ ]:
soup = BeautifulSoup(response, 'html.parser')

In [ ]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [ ]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})

In [ ]:
id

['101', '102', '103', '104', '105', '106', '107', '108']

In [ ]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [ ]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [ ]:
df['id'] = df['id'].astype(int)

In [ ]:
df['age'] = df['age'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

In [ ]:
df['age'].mean()

29.875

In [ ]:
df['age'].std()

3.563204817496262