<a href="https://colab.research.google.com/github/bbradfield216/btech-python/blob/main/Module_5_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# function that takes one parameter (a message) and then prints out name and message
def function(message):
    print('Brock')
    return message
function('will be a master coder')

In [ ]:
# function adds two numbers together and then determines if the number is even or odd
def add_two_num(a, b):
    result = a + b

    if result % 2 == 0:
        print('even')
    else:
        print('odd')

    return result

add_two_num(-43, 81)

In [ ]:
# fahrenheit to celcius converter
def fahrenheit_to_celcius(f):
    result = (f - 32) * 5/9
    return result
fahrenheit_to_celcius(63)

In [ ]:
# tells what years are leap years
def leap_year(year):
    if year %4 == 0:
      print('leap year')
    elif year %100 == 0:
      print('not a leap year')
    elif year %400 == 0:
      print('leap year')
    else:
      print('not a leap year')

    return year

leap_year(2031)

In [ ]:
def chinese_zodiak(year):
    result = year - 1900
    if result % 12 == 0:
      print('rat')
    if result % 12 == 1:
      print('ox')
    if result % 12 == 2:
      print('tiger')
    if result % 12 == 8:
      print('monkey')
    if result % 12 == 5:
      print('snake')

chinese_zodiak(2073)

In [ ]:
import pandas as pd
df = pd.read_csv('senator_tweets.csv')

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

In [ ]:
# creates new column showing character count for each tweet
df['num_char_tweet'] = df['text'].str.len()

In [ ]:
# correlation coefficient between length of a tweet and the number of replies
df.corr()
df['num_char_tweet'].corr(df['replies'])

In [ ]:
# actual text of the smallest num_char_tweet
min_index = df['num_char_tweet'].idxmin()
df.loc[min_index, 'text']

In [ ]:
# only shows tweets including the word 'immigration' in 'text' column
# other way of finding rows = df['text'].str.contains('immigration').sum()
filt = df['text'].str.contains('immigration')
df.loc[ filt ]

In [ ]:
# only shows tweets including the word "Canada" in 'text' column
filt = df['text'].str.contains('Canada')
df.loc[filt]

In [ ]:
# only shows 'object/string' date including '2010' in the 'created_at' column
filt = df['created_at'].str.contains('2010')
df.loc[filt]

In [ ]:
# creates new column indicating the month the tweet was created
df['month'] = df['created_at'].str.split('/').str[0]

In [ ]:
# shows which month senators appear to send the most tweets
df['month'].value_counts().sort_values(ascending= False)

In [ ]:
# creates new column that counts up how many words a tweet has
df['num_words'] = df['text'].str.split().apply(len)

In [ ]:
# shows which state has senators who publish the longest tweets (in number of words) on average
df.groupby('state')['num_words'].mean().sort_values(ascending= False)

In [ ]:
df.head()

In [ ]:
import pandas as pd
df = pd.read_csv('invoice_lines.csv')

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

In [ ]:
# creates new column extracting the color from the 'Descrption' column
df['color'] = df['Description'].str.extract('\(([A-Za-z]+)\)')

In [ ]:
# shows which color of products had the highest total quantity (sum of quantity)
df.groupby('color')['Quantity'].sum().sort_values(ascending= False)

In [ ]:
# creates new column 'slipper_size
contains_slipper = df[df['Description'].str.contains('slipper')]
df['slipper_size'] = contains_slipper['Description'].str.extract('\s([A-Z]+)$')

In [ ]:
# shows the most popular size of slipper by total quantity ordered (sum of quantity)
df.groupby('slipper_size')['Quantity'].sum().sort_values(ascending= False)

In [ ]:
df.head()