<a href="https://colab.research.google.com/github/bbradfield216/btech-python/blob/main/Module_6_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('laptops.csv')

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

In [ ]:
df.info()

In [ ]:
# Drops all rows from the data set if they contain a null value in at least one column
df.dropna()

In [ ]:
import pandas as pd
df = pd.read_csv('laptops.csv')

In [ ]:
# Memory type has the the most null values
df.info()

In [ ]:
# Descriptive statistics look through
df.describe()

In [ ]:
# Changed all of the negative values in the 'primary_storage' column to positive values
df.loc[df['primary_storage'] < 0] *= -1

In [ ]:
# Found the average amount of primary storage in a laptop in the data set after cleaning the data
df['primary_storage'].mean()

447.5824508320726

In [ ]:
# Changed all of the negative values in the 'Price' column to positive values
# Found the average price of a laptop in the data set after cleaning the data
df.loc[df['Price'] < 0] *= -1
df['Price'].mean()

61014.00983358548

In [ ]:
# Divides the total pixels by the resolution height
# Finds average resolution width of a laptop
df['resolution_width'] = df['total_pixels'] / df['resolution_height']
df['resolution_width'].mean()

1071.428139183056

In [ ]:
# Looks at null values for memory type column
df.info()

In [ ]:
df.fillna(0, inplace=False)

In [ ]:
drops_n = df.dropna()
print(drops_n)

In [ ]:
# Drops memory type column and then drops null values
drops_memory_type_column = df.drop(columns=['memory_type'])
drops_memory_type_column.dropna()

In [ ]:
df['Company'].value_counts()

In [ ]:
df['Company'] = df['Company'].replace({
    'lenovo': 'Lenovo',
    'dell': 'Dell',
    'hp': 'HP',
    'asus': 'Asus',
    'toshiba': 'Toshiba',
    'msi': 'MSI',
    'apple': 'Apple',
    'samsung': 'Samsung',
    'mediacom': 'Mediacom',
    'razer': 'Razer',
    'microsoft': 'Microsoft',
    'acer': 'Acer'
    })

In [ ]:
df['Company'].value_counts()

In [ ]:
# Outliers z-score method for the price column
average_price = df['Price'].mean()
std_dev_price = df['Price'].std()

In [ ]:
df['Z-Score'] = (df['Price'] - average_price) / std_dev_price
df.head()

In [ ]:
df.loc[df['Z-Score'] > 3]

In [ ]:
# Drops all duplicates from the data set using a subset of the columns Company, cpu_name, gpu_name, total_pixels, and Ram
df.drop_duplicates(subset=['Company', 'cpu_name', 'gpu_name', 'total_pixels', 'Ram'], inplace=True)
df.info()